xsd/1.1/eDocumentStore/1.1/eDocumentStoreMessage.xsd

<!--# Version: v1.1 2025/06/27-->
<xs:schema targetNamespace="http://schemas.nav.gov.hu/EDOCUMENTSTORE/1.1/message" elementFormDefault="qualified"
           attributeFormDefault="unqualified" xmlns="http://schemas.nav.gov.hu/EDOCUMENTSTORE/1.1/message"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://schemas.nav.gov.hu/NTCA/1.0/common">
  <xs:import namespace="http://schemas.nav.gov.hu/NTCA/1.0/common" schemaLocation="../../eReceipt/1.0/common.xsd"/>
  
    <xs:complexType name="BasicEDocumentStoreRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">eNyugta rendszer specifikus általános kérés adatok</xs:documentation>
      <xs:documentation xml:lang="en">eReceipt specific basic request data</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicHeaderType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AtomicStringType8192">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Atomi string típus 8192 hosszra</xs:documentation>
      <xs:documentation xml:lang="en">Atomic string type for 8192 length</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="8192"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JwtTokenType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">JWT token típus</xs:documentation>
      <xs:documentation xml:lang="en">JWT token type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AtomicStringType8192">
      <xs:pattern value=".*[^\s].*"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>