xsd/1.1/eReceipt/1.1/eReceiptBase.xsd

<!--
# Project: NAV e-Pénztárgép rendszer communicationData XML séma
# Author: NAV Informatikai Intézet

# Version: v1.0 2023/08/24
# Version: v1.1 2025/06/27
-->
<xs:schema targetNamespace="http://schemas.nav.gov.hu/ERECEIPT/1.1/base" elementFormDefault="qualified"
           attributeFormDefault="unqualified" xmlns="http://schemas.nav.gov.hu/ERECEIPT/1.1/base"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://schemas.nav.gov.hu/NTCA/1.0/common"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.nav.gov.hu/NTCA/1.0/common" schemaLocation="../1.0/common.xsd"/>
  <xs:simpleType name="APNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">AP szám típus</xs:documentation>
      <xs:documentation xml:lang="en">AP number type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
      <xs:pattern value="[A-Z][0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CustomerAppEventCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikáció eseménykód típus</xs:documentation>
      <xs:documentation xml:lang="en">Customer application event code type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="5"/>
      <xs:maxLength value="5"/>
      <xs:pattern value="[A-Z][0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Digit4Type">
    <xs:annotation>
      <xs:documentation xml:lang="hu">4 jegyű szám típus</xs:documentation>
      <xs:documentation xml:lang="en">4 digit number type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EANType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">8 vagy 13 jegyű EAN kód típus</xs:documentation>
      <xs:documentation xml:lang="en">8 or 13 digit EAN code type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="8"/>
      <xs:maxLength value="13"/>
      <xs:pattern value="[0-9]{8}|[0-9]{13}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProcessIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">EPD folyamat azonosító</xs:documentation>
      <xs:documentation xml:lang="en">EPD process identifier</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
      <xs:minLength value="10"/>
      <xs:pattern value="[A-Z0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AtomicCsrType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Atomi CSR típus</xs:documentation>
      <xs:documentation xml:lang="en">Atomic CSR type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:base64Binary">
      <xs:minLength value="1"/>
      <xs:maxLength value="8192"/>
      <xs:pattern value=".*[^\s].*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="File512kBinaryType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Bináris fájl típus, max 512kB</xs:documentation>
      <xs:documentation xml:lang="en">Binary file type, max 512kB</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:base64Binary">
      <xs:maxLength value="524288"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FileExtensionType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Fájl kiterjesztés típus</xs:documentation>
      <xs:documentation xml:lang="en">File extension type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
      <xs:pattern value="[\w,-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CancellationReasonType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Sztornózás ok típus</xs:documentation>
      <xs:documentation xml:lang="en">Reason of cancellation type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:AtomicStringType15">
      <xs:enumeration value="S1">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Ügyfél elállása</xs:documentation>
          <xs:documentation xml:lang="en">Customer cancellation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S2">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Kezelői hiba: téves bevitel</xs:documentation>
          <xs:documentation xml:lang="en">User error: incorrect input</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S3">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Kezelői hiba: téves fizetőeszköz bevitel</xs:documentation>
          <xs:documentation xml:lang="en">User error: incorrect instrument input</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S4">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Kezelői hiba: termék nincs készleten</xs:documentation>
          <xs:documentation xml:lang="en">User error: product out of stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S5">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Technikai: téves bizonylattípus kibocsátása</xs:documentation>
          <xs:documentation xml:lang="en">Technical: incorrect document category</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S6">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Technikai: sikertelen fizetőeszköz használat</xs:documentation>
          <xs:documentation xml:lang="en">Technical: unsuccesfull instrument input</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S7">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Technikai: téves ügyfél adat/hibás bevitel</xs:documentation>
          <xs:documentation xml:lang="en">Technical: incorrect customer data input</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S8">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Technikai: próbavásárlás</xs:documentation>
          <xs:documentation xml:lang="en">Technical: test purchase</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S0">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb</xs:documentation>
          <xs:documentation xml:lang="en">Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CashPaymentTitleType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Pénztári befizetés-kifizetés vagy fizetőeszköz csere jogcímei típus</xs:documentation>
      <xs:documentation xml:lang="en">Cash payment title type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:AtomicStringType15">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Váltópénz bevitel</xs:documentation>
          <xs:documentation xml:lang="en">Cash coin input</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Pénztáros pénzfelvétel</xs:documentation>
          <xs:documentation xml:lang="en">Withdraw by cashier (in)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Díjbeszedés</xs:documentation>
          <xs:documentation xml:lang="en">Collection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="04">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Sorsjegy eladás</xs:documentation>
          <xs:documentation xml:lang="en">Sale of lottery ticket</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="05">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Előleg</xs:documentation>
          <xs:documentation xml:lang="en">Advance payment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="06">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Pénztár hiány</xs:documentation>
          <xs:documentation xml:lang="en">Cash deficit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="07">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Borravaló</xs:documentation>
          <xs:documentation xml:lang="en">Tip</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="08">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb befizetés</xs:documentation>
          <xs:documentation xml:lang="en">Other payment (in)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="31">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Fölözés</xs:documentation>
          <xs:documentation xml:lang="en">Skimming</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="32">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Pénztáros levétel</xs:documentation>
          <xs:documentation xml:lang="en">Withdraw by cashier (out)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="33">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Utalvány kivét</xs:documentation>
          <xs:documentation xml:lang="en">Voucher take out</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="34">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Ajándékkártya kivét</xs:documentation>
          <xs:documentation xml:lang="en">Gift card take out</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Bérkifizetés</xs:documentation>
          <xs:documentation xml:lang="en">Salary payment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="36">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Munkabér előleg</xs:documentation>
          <xs:documentation xml:lang="en">Pre-payment of salary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="37">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Postaköltség</xs:documentation>
          <xs:documentation xml:lang="en">Postal cost</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="38">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb rezsi</xs:documentation>
          <xs:documentation xml:lang="en">Other costs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="39">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Áruvásárlás</xs:documentation>
          <xs:documentation xml:lang="en">Purchasing of goods </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Záróösszeg levétel</xs:documentation>
          <xs:documentation xml:lang="en">Withdraw of closing balance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="41">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb kifizetés</xs:documentation>
          <xs:documentation xml:lang="en">Other payments (out)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="42">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Készpénzfelvétel</xs:documentation>
          <xs:documentation xml:lang="en">Cashback</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="60">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Fizetőeszköz csere</xs:documentation>
          <xs:documentation xml:lang="en">Change of payment instrument</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CollectorCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Forgalmi gyüjtő típus</xs:documentation>
      <xs:documentation xml:lang="en">Collector code type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:pattern value="[A-E]|N|TAM|AAM|EAM|ATK|TRA|SEC|ART|ANT|EUE|HO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CustomerVatStatusType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevő ÁFA szerinti státusz típusa</xs:documentation>
      <xs:documentation xml:lang="en">Customers status type by VAT</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:AtomicStringType15">
      <xs:enumeration value="DOMESTIC">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Belföldi ÁFA alany</xs:documentation>
          <xs:documentation xml:lang="en">Domestic VAT subject</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb (belföldi nem ÁFA alany, nem természetes személy, külföldi ÁFA alany és külföldi nem ÁFA alany, nem természetes személy)</xs:documentation>
          <xs:documentation xml:lang="en">Other (domestic non-VAT subject, non-natural person, foreign VAT subject and foreign non-VAT subject, non-natural person)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRIVATE_PERSON">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Nem ÁFA alany (belföldi vagy külföldi) természetes személy</xs:documentation>
          <xs:documentation xml:lang="en">Non-VAT subject (domestic or foreign) natural person</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DataNameType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Az adatmező egyedi azonosító típusa</xs:documentation>
      <xs:documentation xml:lang="en">Unique identification type of the data field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:AtomicStringType255">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
      <xs:pattern value="[A-Z][0-9]{5}[_][_A-Z0-9]{1,249}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentCategoryType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A bizonylat típusa</xs:documentation>
      <xs:documentation xml:lang="en">Type of document</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
      <xs:enumeration value="RECEIPT">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Nyugta</xs:documentation>
          <xs:documentation xml:lang="en">Receipt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HEALTH">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egészségkártya</xs:documentation>
          <xs:documentation xml:lang="en">Health</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FUEL">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Üzemanyagkártya</xs:documentation>
          <xs:documentation xml:lang="en">Fuel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CONSUME">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Fogyasztási összesítő</xs:documentation>
          <xs:documentation xml:lang="en">Consumption summary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DEFERRED">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Szállodai átterhelés bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Hotel deferred document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentClassType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Bizonylat típus, milyen bizonylatot küld be az e-pénztárgép</xs:documentation>
      <xs:documentation xml:lang="en">Document class type, what document is sent by the e-cash register</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
      <xs:enumeration value="RECEIPT">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Nyugta bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Receipt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FUEL">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Üzemanyagkártyás értékesítési bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Fuel card sales receipt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HEALTH">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egészségkártyás értékesítési bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Health Fund sales receipt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DEFERRED">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Szállodai átterhelési bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Hotel deferred document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CONSUME">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Fogyasztási összesítő bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Consumption summary document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SIMPLIFIEDINVOICE">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyszerűsített számla</xs:documentation>
          <xs:documentation xml:lang="en">Simplified invoice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NORMALINVOICE">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Normál számla</xs:documentation>
          <xs:documentation xml:lang="en">Normal invoice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Other document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentDateType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dátum típus</xs:documentation>
      <xs:documentation xml:lang="en">Date type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date">
      <xs:minInclusive value="2010-01-01"/>
      <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum vagy módosító okirat sorszám típus</xs:documentation>
      <xs:documentation xml:lang="en">Sequential number type of the original document or modification document</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
      <xs:pattern value="((UK|EK|SZ|NY|PM|PJ|SA|FO|OT)-[A-Z][0-9]{8}/[0-9]{8}/[0-9]{4}/[0-9]{5})|((NN|NZ)-[A-Z][0-9]{8}/[0-9]{8}/[0-9]{4})">
        <xs:annotation>
          <xs:documentation xml:lang="hu">
        NN - Napnyitás bizonylat
        UK - Üzemanyagkártyás értékesítés
        EK - Egészségkártyás értékesítés
        SZ - Számla vagy Egyszerűsített számla
        NY - Nyugta
        PM - Pénzmozgás bizonylat
        PJ - Pénztár jelentés
        NZ - Napi forgalmi jelentés
        SA - Szállodai átterhelés bizonylat
        FO - Fogyasztási összesítő bizonylat
        OT - Egyéb bizonylat
        </xs:documentation>
          <xs:documentation xml:lang="en">
        NN - Day open report
        UK - Fuel card sale
        EK - Health Fund sale
        SZ - Invoice or Simplified invoice
        NY - Receipt
        PM - Cashflow document
        PJ - Cashregister report
        NZ - Daily cashflow report
        SA - Hotel deferred document
        FO - Consumption summary
        OT - Other document
        </xs:documentation>
        </xs:annotation>
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentOperationType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum művelet típus</xs:documentation>
      <xs:documentation xml:lang="en">Document operation type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:AtomicStringType8">
      <xs:enumeration value="CREATE">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Eredeti documentum</xs:documentation>
          <xs:documentation xml:lang="en">Original document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MODIFY">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eredeti dokumentumot módosító okirat</xs:documentation>
          <xs:documentation xml:lang="en">Modification of original document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="STORNO">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eredeti documentum érvénytelenítése</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of original document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentUnboundedIndexType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Sorszám típus</xs:documentation>
      <xs:documentation xml:lang="en">Index type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EncryptedSymmetricInitialVectorType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A nyugta kiegészítő részének titkosításához használt szimmetrikus kulcs típus</xs:documentation>
      <xs:documentation xml:lang="en">Symmetric key used to encrypt the additional part of the receipt type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:base64Binary"/>
  </xs:simpleType>
  <xs:simpleType name="EncryptedSymmetricKeyType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A nyugta core részének titkosításához használt szimmetrikus kulcs típus</xs:documentation>
      <xs:documentation xml:lang="en">Symmetric key used to encrypt the core part of the receipt type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:base64Binary"/>
  </xs:simpleType>
  <xs:simpleType name="ItemNatureType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Az adott tétel jellege típus</xs:documentation>
      <xs:documentation xml:lang="en">Nature type of the current item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
      <xs:enumeration value="n">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Értékesítés</xs:documentation>
          <xs:documentation xml:lang="en">Product or service sales</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ns">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Értékesítés sztornó</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of product or service sales</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="e">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Engedmény</xs:documentation>
          <xs:documentation xml:lang="en">Discount</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="es">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Engedmény sztornó</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of discount</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="k">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Nem üzletpolitikai kedvezmény</xs:documentation>
          <xs:documentation xml:lang="en">Non-business policy preferences</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ks">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Nem üzletpolitikai kedvezmény sztornó</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of non-business policy preferences</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Felár</xs:documentation>
          <xs:documentation xml:lang="en">Extra charge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fs">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Felár sztornó</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of extra charge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="g">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Göngyöleg visszaváltás</xs:documentation>
          <xs:documentation xml:lang="en">Returnable packing</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gs">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Göngyöleg visszaváltás sztornó</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of returnable packing</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="v">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Visszáru</xs:documentation>
          <xs:documentation xml:lang="en">Returned goods</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vs">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Visszáru sztornó</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of returned goods</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="x">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Fogyasztási összesítő</xs:documentation>
          <xs:documentation xml:lang="en">Consumption summary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="xs">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Fogyasztási összesítő sztornó</xs:documentation>
          <xs:documentation xml:lang="en">Cancellation of consumption summary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="p">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Pénzmozgás bizonylat (vevőt érintő tranzakció esetén)</xs:documentation>
          <xs:documentation xml:lang="en">Cashflow document (if a transaction involving a customer)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LineNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Tételszám típus</xs:documentation>
      <xs:documentation xml:lang="en">Line number type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="1"/>
      <xs:totalDigits value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ModificationReasonType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Visszáru ok típus</xs:documentation>
      <xs:documentation xml:lang="en">Reason of modification type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:AtomicStringType15">
      <xs:enumeration value="V1">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Hibás áru</xs:documentation>
          <xs:documentation xml:lang="en">Defective goods</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V2">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Ügyfél elállása a vásárlástól</xs:documentation>
          <xs:documentation xml:lang="en">Customer’s right of rescission</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V3">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb</xs:documentation>
          <xs:documentation xml:lang="en">Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MonetaryType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Pénzérték típus. Maximum 18 számjegy, ami 2 tizedesjegyet tartalmazhat</xs:documentation>
      <xs:documentation xml:lang="en">Field type for money value input. Maximum 18 digits that may include 2 decimal places</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:GenericDecimalType">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExchangeRateType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Árfolyam adat típus</xs:documentation>
      <xs:documentation xml:lang="en">Exchange rate data type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="14"/>
      <xs:fractionDigits value="6"/>
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NtcaControlCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A bizonylaton szereplő NAV ellenőrző kód típus</xs:documentation>
      <xs:documentation xml:lang="en">Ntca control code type on document</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
      <xs:pattern value="[0-9A-F]{5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentMethodType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Fizetés mód típus</xs:documentation>
      <xs:documentation xml:lang="en">Payment method type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="common:AtomicStringType15">
      <xs:enumeration value="SZEP">
        <xs:annotation>
          <xs:documentation xml:lang="hu">SZÉP kártya</xs:documentation>
          <xs:documentation xml:lang="en">SZÉP card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CASH">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Készpénz</xs:documentation>
          <xs:documentation xml:lang="en">Cash</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CARD">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Bankkártya, hitelkártya, egyéb készpénz helyettesítő eszköz</xs:documentation>
          <xs:documentation xml:lang="en">Debit card, credit card, other cash-substitute payment instrument</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AFR">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Azonnali fizetési rendszer</xs:documentation>
          <xs:documentation xml:lang="en">Immediate payment system</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb fizetési mód</xs:documentation>
          <xs:documentation xml:lang="en">Other payment method</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReportClassType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Riport bizonylat típus, (milyen riportot küld be az e-pénztárgép)</xs:documentation>
      <xs:documentation xml:lang="en">Report class type (what report is sent by the e-cash register)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
      <xs:enumeration value="CASHREGISTEROPENBALANCE">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Pénztárnyitás bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">e-Cash register open balance report</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DAILYCASHFLOW">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Napi forgalmi jelentés</xs:documentation>
          <xs:documentation xml:lang="en">Daily cashflow report type</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CASHREGISTER">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Pénztárjelentés</xs:documentation>
          <xs:documentation xml:lang="en">e-Cash register report</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CASHFLOW">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Pénzmozgás bizonylat</xs:documentation>
          <xs:documentation xml:lang="en">Cashflow report</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Egyéb jelentés</xs:documentation>
          <xs:documentation xml:lang="en">Other report</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AdditionalDataType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">További adat leírására szolgáló típus</xs:documentation>
      <xs:documentation xml:lang="en">Type for additional data description</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataName" type="DataNameType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adatmező egyedi azonosítója</xs:documentation>
          <xs:documentation xml:lang="en">Unique identification of the data field</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataDescription" type="common:SimpleText255NotBlankType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adatmező tartalmának szöveges leírása</xs:documentation>
          <xs:documentation xml:lang="en">Description of content of the data field</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataValue" type="common:SimpleText512NotBlankType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>
              ZQQ ReceiptAdditional, OtherDocumentAdditional és InvoiceAdditional /
              additionalData esetén RM ReceiptCore, OtherDocumentCore és InvoiceCore esetén
            </legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adat értéke</xs:documentation>
          <xs:documentation xml:lang="en">Value of the data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Csatoltmány típus</xs:documentation>
      <xs:documentation xml:lang="en">Attachment type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileBinary" type="File512kBinaryType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Csatolt fájl bináris</xs:documentation>
          <xs:documentation xml:lang="en">Attached file binary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fileExtension" type="FileExtensionType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Csatolt kiterjesztés típus (például: doc, pdf, jpg, png, stb.)</xs:documentation>
          <xs:documentation xml:lang="en">Attached extension type (for example: doc, pdf, jpg, png, etc.)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalHeadType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A dokumentum egészére vonatkozó egyéb adat típusa</xs:documentation>
      <xs:documentation xml:lang="en">Other data type for the whole document</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="additionalData" type="AdditionalDataType" minOccurs="1" maxOccurs="10">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A dokumentumon szereplő egyéb adat</xs:documentation>
          <xs:documentation xml:lang="en">Other data in relation to the document</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="AdditionalLinesType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum tételeire vonatkozó egyéb adat típus</xs:documentation>
      <xs:documentation xml:lang="en">Other data type for the document items</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="additionalLine" type="AdditionalLineType" maxOccurs="1000">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Tételekre vonatkozó egyéb adat</xs:documentation>
          <xs:documentation xml:lang="en">Other data for the items</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalLineType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">További adat leírására szolgáló típus</xs:documentation>
      <xs:documentation xml:lang="en">Type of additional data description</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="lineNumber" type="LineNumberType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A tétel sorszáma</xs:documentation>
          <xs:documentation xml:lang="en">Sequential number of the item</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalLineData" type="AdditionalDataType" minOccurs="1" maxOccurs="10">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Adott tételre vonatkozó egyéb adat</xs:documentation>
          <xs:documentation xml:lang="en">The data for a specific item</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Cím típus, amely vagy egyszerű, vagy részletes címet tartalmaz</xs:documentation>
      <xs:documentation xml:lang="en">Format type of address that includes either a simple or a detailed address</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="simpleAddress" type="SimpleAddressType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Egyszerű cím</xs:documentation>
          <xs:documentation xml:lang="en">Simple address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="detailedAddress" type="DetailedAddressType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Részletes cím</xs:documentation>
          <xs:documentation xml:lang="en">Detailed address</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BasicEReceiptRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">eNyugta rendszer specifikus általános kérés adatok típus</xs:documentation>
      <xs:documentation xml:lang="en">eReceipt specific basic request data type</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicHeaderType">
        <xs:sequence>
          <xs:element name="APNumber" type="APNumberType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">e-Pénztárgép AP száma</xs:documentation>
              <xs:documentation xml:lang="en">e-Cash register AP number</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BasicEReceiptResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">eNyugta rendszer specifikus általános válasz adatok típus</xs:documentation>
      <xs:documentation xml:lang="en">eReceipt specific basic response data type</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicResponseType">
        <xs:sequence>
          <xs:element name="APNumber" type="APNumberType">
            <xs:annotation>
              <xs:appinfo>
                <legacyMapping>APN</legacyMapping>
              </xs:appinfo>
              <xs:documentation xml:lang="hu">e-Pénztárgép AP száma</xs:documentation>
              <xs:documentation xml:lang="en">e-Cash register AP number</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="callbackRequired" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <legacyMapping>Új mező</legacyMapping>
              </xs:appinfo>
              <xs:documentation xml:lang="hu">Visszahívás szükséges</xs:documentation>
              <xs:documentation xml:lang="en">Callback required</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommerceCollectorListType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Napi forgalmi gyüjtők típus</xs:documentation>
      <xs:documentation xml:lang="en">Daily commerce collectors list type</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="100">
      <xs:element name="commercialCollector" type="CommerceCollectorType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Napi forgalom forgalmi gyűjtők szerinti összesítés</xs:documentation>
          <xs:documentation xml:lang="en">Daily commerce by commercial collector</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommerceCollectorType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Napi forgalom forgalmi gyűjtők szerinti összesítés típus</xs:documentation>
      <xs:documentation xml:lang="en">Daily commerce by commercial collector type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="collectorCode" type="CollectorCodeType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>GYJ</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Forgalmi gyűjtő jele 3 karakteren</xs:documentation>
          <xs:documentation xml:lang="en">Collector code on 3 characters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="collectorGrossAmount" type="MonetaryType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>GYE</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adott forgalmi gyűjtőbe tartozó napi tételek bruttó összértéke</xs:documentation>
          <xs:documentation xml:lang="en">Total gross value of daily items in a given collector</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="collectorNetAmount" type="MonetaryType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>GYE</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adott forgalmi gyűjtőbe tartozó napi tételek nettó összértéke</xs:documentation>
          <xs:documentation xml:lang="en">Total net value of daily items in a given collector</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="collectorVatAmount" type="MonetaryType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>GYE</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adott forgalmi gyűjtőbe tartozó napi tételek ÁFA összértéke</xs:documentation>
          <xs:documentation xml:lang="en">Total vat value of daily items in a given collector</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A vevő adatai típus</xs:documentation>
      <xs:documentation xml:lang="en">Customer data type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="customerVatStatus" type="CustomerVatStatusType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Vevő ÁFA szerinti státusza</xs:documentation>
          <xs:documentation xml:lang="en">Customers status by VAT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerVatData" type="CustomerVatDataType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A vevő ÁFA alanyisági adatai</xs:documentation>
          <xs:documentation xml:lang="en">VAT subjectivity data of the customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerName" type="common:SimpleText512NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>NAM</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A vevő neve</xs:documentation>
          <xs:documentation xml:lang="en">Name of the customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerAddress" type="AddressType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A vevő címe</xs:documentation>
          <xs:documentation xml:lang="en">Address of the customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerBankAccountNumber" type="common:BankAccountNumberType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Vevő bankszámlaszáma</xs:documentation>
          <xs:documentation xml:lang="en">Bank account number of the customer</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerTaxNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Adószám típus, lehet csoportazonosító szám is</xs:documentation>
      <xs:documentation xml:lang="en">Tax number type or group identification number</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TaxNumberType">
        <xs:sequence>
          <xs:element name="groupMemberTaxNumber" type="TaxNumberType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <legacyMapping>Új mező</legacyMapping>
              </xs:appinfo>
              <xs:documentation xml:lang="hu">Csoport tag adószáma, ha a termékbeszerzés vagy szolgáltatás igénybevétele csoportazonosító szám alatt történt</xs:documentation>
              <xs:documentation xml:lang="en">Tax number of group member, when the purchase of goods or services is done under group identification number</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomerVatDataType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A vevő ÁFA alanyisági adatai típus</xs:documentation>
      <xs:documentation xml:lang="en">VAT subjectivity data of the customer type</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="customerTaxNumber" type="CustomerTaxNumberType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>ASZ</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Belföldi adószám, lehet csoportazonosító szám is</xs:documentation>
          <xs:documentation xml:lang="en">Domestic tax number or group identification number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="communityVatNumber" type="common:CommunityVatNumberType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Közösségi adószám</xs:documentation>
          <xs:documentation xml:lang="en">Community tax number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thirdStateTaxId" type="common:SimpleText50NotBlankType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Harmadik országbeli adóazonosító</xs:documentation>
          <xs:documentation xml:lang="en">Third state tax identification number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DailyCashFlowDetailType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Napi forgalmi jelentés adatai típus</xs:documentation>
      <xs:documentation xml:lang="en">Daily cashflow detail data type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="commerceCollectorList" type="CommerceCollectorListType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Forgalmi gyűjtők szerinti bontás</xs:documentation>
          <xs:documentation xml:lang="en">Group by commerce collectors</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="MonetaryType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Forgalom összege</xs:documentation>
          <xs:documentation xml:lang="en">Commerce amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="count" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Bizonylat darabszáma</xs:documentation>
          <xs:documentation xml:lang="en">Count of document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fulfillmentDate" type="DocumentDateType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">A bizonylatok teljesítési dátuma</xs:documentation>
          <xs:documentation xml:lang="en">Fulfillment date of the document</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DailyCashFlowDetailListType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Napi forgalmi jelentés adatai lista típus</xs:documentation>
      <xs:documentation xml:lang="en">Daily cashflow detail data list type</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="100">
      <xs:element name="dailyCashFlowDetail" type="DailyCashFlowDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Napi forgalmi jelentés adatai</xs:documentation>
          <xs:documentation xml:lang="en">Daily cashflow detail data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="DetailedAddressType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Részletes címadatok</xs:documentation>
      <xs:documentation xml:lang="en">Detailed address data</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="countryCode" type="common:CountryCodeType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az országkód ISO 3166 alpha-2 szabvány szerint</xs:documentation>
          <xs:documentation xml:lang="en">ISO 3166 alpha-2 country code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="region" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Tartomány kódja (amennyiben értelmezhető az adott országban) az ISO 3166-2 alpha 2 szabvány szerint</xs:documentation>
          <xs:documentation xml:lang="en">ISO 3166 alpha-2 province code (if appropriate in a given country)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalCode" type="common:PostalCodeType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>IRS</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Irányítószám (amennyiben nem értelmezhető, 0000 értékkel kell kitölteni)</xs:documentation>
          <xs:documentation xml:lang="en">ZIP code (If can not be interpreted, need to be filled "0000")</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="common:SimpleText255NotBlankType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>TEL</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Település</xs:documentation>
          <xs:documentation xml:lang="en">Settlement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="streetName" type="common:SimpleText255NotBlankType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>KZT</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Közterület neve</xs:documentation>
          <xs:documentation xml:lang="en">Name of public place</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicPlaceCategory" type="common:SimpleText50NotBlankType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>KZJ</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Közterület jellege</xs:documentation>
          <xs:documentation xml:lang="en">Category of public place</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>HSZ</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Házszám</xs:documentation>
          <xs:documentation xml:lang="en">House number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="building" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Épület</xs:documentation>
          <xs:documentation xml:lang="en">Building</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="staircase" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Lépcsőház</xs:documentation>
          <xs:documentation xml:lang="en">Staircase</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="floor" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Emelet</xs:documentation>
          <xs:documentation xml:lang="en">Floor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="door" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Ajtó</xs:documentation>
          <xs:documentation xml:lang="en">Door number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lotNumber" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Helyrajzi szám</xs:documentation>
          <xs:documentation xml:lang="en">Lot number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdditionalDataType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevő tájékoztatási adatok típus</xs:documentation>
      <xs:documentation xml:lang="en">Customer information data type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentNumber" type="DocumentNumberType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>NSZ,IID,ORN,PMS (változott a struktúra)</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Dokumentum vagy módosító okirat sorszáma</xs:documentation>
          <xs:documentation xml:lang="en">Sequential number of the original document or modification document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalHead" type="AdditionalHeadType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Dokumentum egészére vonatkozó egyéb adat</xs:documentation>
          <xs:documentation xml:lang="en">Other data for the whole document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attachment" type="AttachmentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="hu">A dokumentumhoz csatolt állomány</xs:documentation>
          <xs:documentation xml:lang="en">File attached to the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalLines" type="AdditionalLinesType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Dokumentum tételeire vonatkozó egyéb adat</xs:documentation>
          <xs:documentation xml:lang="en">Other data for the document items</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentControlDataType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum adatszolgáltatás rész típusa</xs:documentation>
      <xs:documentation xml:lang="en">Document control data type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentNumber" type="DocumentNumberType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>NSZ,IID,ORN,PMS (változott a struktúra)</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Dokumentum vagy módosító okirat sorszáma</xs:documentation>
          <xs:documentation xml:lang="en">Sequential number of the original document or modification document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recordCounter" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Bejegyzés sorszám e-pénztárgépen belül (1-től sorszámozva). Szigorúan monoton növekvő sorszám, nem lehet benne kihagyás.</xs:documentation>
          <xs:documentation xml:lang="en">Serial number within the e-cash register (numbered 1 to 1). Strictly monotonic ascending serial number, no skips</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="balanceChange" type="InstrumentType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu"> A fióktartalom változásának adatai</xs:documentation>
          <xs:documentation xml:lang="en">Information of balance change</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForeignCurrencyType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Valutában befizetett összeg típus</xs:documentation>
      <xs:documentation xml:lang="en">Foreign currency amount type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyAmount">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>CAM</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Valuta összege (valutában)</xs:documentation>
          <xs:documentation xml:lang="en">Currency amount</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="MonetaryType"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="currencyCode" type="common:CurrencyType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>CTY</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Valutanem 3 karakteren, nagybetűvel az MNB jel szerint</xs:documentation>
          <xs:documentation xml:lang="en">Currency code in 3 characters by MNB</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exchangeRate" type="ExchangeRateType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>CRA</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Valuta egy egységének forintban kifejezett, adózó által alkalmazott értéke</xs:documentation>
          <xs:documentation xml:lang="en">Currency exchange rate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyHufAmount" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>CFT</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Valuta összegének értéke egész forintban, feltüntetett árfolyamon számolva</xs:documentation>
          <xs:documentation xml:lang="en">Value of currency amount in HUF</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FuelCardInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Üzemanyagkártya leíró adatok típus</xs:documentation>
      <xs:documentation xml:lang="en">Information type of fuel card</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fuelCardNumber" minOccurs="1">
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <legacyMapping>FCN</legacyMapping>
            </xs:appinfo>
            <xs:documentation xml:lang="hu">Üzemanyagkártya száma (legalább négy számjegy)</xs:documentation>
            <xs:documentation xml:lang="en">Number of fuel card</xs:documentation>
          </xs:annotation>
          <xs:restriction base="common:SimpleText50NotBlankType">
            <xs:minLength value="4"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="authorizationNumber" minOccurs="1">
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <legacyMapping>CID</legacyMapping>
            </xs:appinfo>
            <xs:documentation xml:lang="hu">Engedélyezési azonosítószám</xs:documentation>
            <xs:documentation xml:lang="en">Authorisation identifier number</xs:documentation>
          </xs:annotation>
          <xs:restriction base="common:SimpleText50NotBlankType">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="vehicleRegistrationNumber" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <legacyMapping>FRN</legacyMapping>
            </xs:appinfo>
            <xs:documentation xml:lang="hu">A rendszám, kizárólag betűket és számokat feltüntetve</xs:documentation>
            <xs:documentation xml:lang="en">Vehicle registration number, using only letters and numbers</xs:documentation>
          </xs:annotation>
          <xs:restriction base="common:SimpleText50NotBlankType">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HealthFundInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Egészségpénztár leíró adatok típus</xs:documentation>
      <xs:documentation xml:lang="en">Information type of health fund</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="healthFundName" minOccurs="1">
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <legacyMapping>EPN</legacyMapping>
            </xs:appinfo>
            <xs:documentation xml:lang="hu">Az egészségpénztár neve</xs:documentation>
            <xs:documentation xml:lang="en">Health fund name</xs:documentation>
          </xs:annotation>
          <xs:restriction base="common:SimpleText50NotBlankType">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="healthFundAddress" type="AddressType" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>EPA</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az egészségpénztár címe</xs:documentation>
          <xs:documentation xml:lang="en">Address of the health fund</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="healthFundCode" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <legacyMapping>EPC</legacyMapping>
            </xs:appinfo>
            <xs:documentation xml:lang="hu">Az egészségpénztár kódja</xs:documentation>
            <xs:documentation xml:lang="en">Code of the health fund</xs:documentation>
          </xs:annotation>
          <xs:restriction base="common:SimpleText50NotBlankType">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="healthFundMemberNumber" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <legacyMapping>ERN</legacyMapping>
            </xs:appinfo>
            <xs:documentation xml:lang="hu">A vevő tagszáma (egészségpénztári azonosítószám)</xs:documentation>
            <xs:documentation xml:lang="en">Member number of customer (health fund identification number)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="common:SimpleText50NotBlankType">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="healthFundCardNumber" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:appinfo>
              <legacyMapping>ECN</legacyMapping>
            </xs:appinfo>
            <xs:documentation xml:lang="hu">Egészségkártya száma</xs:documentation>
            <xs:documentation xml:lang="en">Health fund card number</xs:documentation>
          </xs:annotation>
          <xs:restriction base="common:SimpleText50NotBlankType">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstrumentType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Fizetőeszköz típusa</xs:documentation>
      <xs:documentation xml:lang="en">Instrument type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cashHufAmount" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>FE1</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Forint készpénz forintban</xs:documentation>
          <xs:documentation xml:lang="en">Cash in HUF</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="foreignCurrency" type="ForeignCurrencyType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Valutában befizetett összeg adatai</xs:documentation>
          <xs:documentation xml:lang="en">Foreign currency amount data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cardPaymentAmount" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>FE2</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Bankkártyás bevételek forintban</xs:documentation>
          <xs:documentation xml:lang="en">Card amount in HUF</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="szepCardAmount" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">SZÉP kártya bevételek forintban</xs:documentation>
          <xs:documentation xml:lang="en">SZÉP Card amount in HUF</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="afrAmount" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">AFR bevételek</xs:documentation>
          <xs:documentation xml:lang="en">Immediate payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPayment" type="OtherPaymentType" minOccurs="0" maxOccurs="100">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Egyéb fizetőeszközben megszerzett bevételek</xs:documentation>
          <xs:documentation xml:lang="en">Other payment amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MetaDataType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">A dokumentum fő üzleti adatai típus</xs:documentation>
      <xs:documentation xml:lang="en">The document main core data type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentNumber" type="DocumentNumberType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>NSZ,IID,ORN,PMS (változott a struktúra)</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Dokumentum vagy módosító okirat sorszáma</xs:documentation>
          <xs:documentation xml:lang="en">Sequential number of the original document or modification document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentOperation" type="DocumentOperationType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A dokumentum művelet módja</xs:documentation>
          <xs:documentation xml:lang="en">The operation method of document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="APNumber" type="APNumberType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>APN</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">e-Pénztárgép AP száma</xs:documentation>
          <xs:documentation xml:lang="en">e-Cash register AP number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxpayerId" type="common:TaxpayerIdType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>TSZ</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adóalany adó törzsszáma. Csoportos adóalany esetén csoportazonosító szám</xs:documentation>
          <xs:documentation xml:lang="en">Core tax number of the taxable person. In case of group taxation arrangement the group identification number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="electronicInvoiceHash" type="common:CryptoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Elektronikus számla vagy módosító okirat állomány hash lenyomata</xs:documentation>
          <xs:documentation xml:lang="en">Electronic invoice or modification document file hash value</xs:documentation>
        </xs:annotation>
      </xs:element>      
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherPaymentType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Egyéb fizetőeszköz típus</xs:documentation>
      <xs:documentation xml:lang="en">Other payment type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherPaymentCode">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>FEN</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Egyéb fizetőeszköz kódja</xs:documentation>
          <xs:documentation xml:lang="en">Other payment code</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="AJÁND|HŰSÉG|SMART|GÖNGY|KUPON|EGYEB-[a-zA-Z0-9aáeéiíoóöőuúüűAÁEÉIÍOÓÖŐUÚÜŰ]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="otherPaymentHufAmount" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>FES</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Fizetőeszköz egyenlege forintban</xs:documentation>
          <xs:documentation xml:lang="en">Payment amount by code in HUF</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstrumentsType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Fizetőeszközök típus</xs:documentation>
      <xs:documentation xml:lang="en">Payment instruments type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paymentInstrument" type="PaymentInstrumentType" maxOccurs="100">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Fizetőeszköz</xs:documentation>
          <xs:documentation xml:lang="en">Payment instrument</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstrumentType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Fizetőeszköz típus</xs:documentation>
      <xs:documentation xml:lang="en">Payment instrument type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentPaymentMethod" type="PaymentMethodType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>FE1,FEV,FE2,FE3 (Új fizetési módok)</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Fizetés módja</xs:documentation>
          <xs:documentation xml:lang="en">Method of payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentPaymentAmount" type="MonetaryType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>FE1,FEV,FE2,FE3 (Új fizetési módok)</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Fizetés mód összege</xs:documentation>
          <xs:documentation xml:lang="en">Amount of payment methods</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportHeaderType">
    <xs:sequence>
      <xs:element name="recordCounter" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Bejegyzés sorszám e-pénztárgépen belül (1-től sorszámozva). Szigorúan monoton növekvő sorszám, nem lehet benne kihagyás.</xs:documentation>
          <xs:documentation xml:lang="en">Serial number within the e-cash register (numbered 1 to 1). Strictly monotonic ascending serial number, no skips</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issueStartDateTime" type="common:GenericTimestampType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>DTS</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Időbélyeg, a bizonylat nyitásának pontos ideje az AE órája szerint</xs:documentation>
          <xs:documentation xml:lang="en">Timestamp, the exact time of the document's opening according to the AE clock </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ntcaControlCode" type="NtcaControlCodeType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>NAV</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A bizonylaton szereplő NAV ellenőrző kód</xs:documentation>
          <xs:documentation xml:lang="en">The control code of Ntca</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalData" type="AdditionalDataType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">A dokumentumon szereplő egyéb adat</xs:documentation>
          <xs:documentation xml:lang="en">Other data in relation to the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shop" type="ShopType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az e-pénztárgép üzemeltetési helye</xs:documentation>
          <xs:documentation xml:lang="en">e-Cash register location of operation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxPayer" type="TaxPayerType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">e-Pénztárgép üzemeltető adatai, üzemanyagkúton használt kétvállalkozós e-pénztárgép esetén az üzemanyag tulajdonos adózó adatai</xs:documentation>
          <xs:documentation xml:lang="en">e-Cash register taxpayer data, in case of a fuel owner two-operator e-cash register used on a fuel well </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="coTaxPayer" type="TaxPayerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Üzemanyagkúton használt kétvállalkozós e-pénztárgépen az üzemeltető adózó adatai</xs:documentation>
          <xs:documentation xml:lang="en">In case of a fuel owner two-operator e-cash register used on a fuel well</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignedDocumentEnvelopeType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Alap boriték tipus</xs:documentation>
      <xs:documentation xml:lang="en">Signed envelope type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="envelopeVersion" type="common:AtomicStringType15" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="hu">A boríték tartalmának interfész verziója.</xs:documentation>
          <xs:documentation xml:lang="en">Interface version of the envelope's content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="envelopeData" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Bizonylat adatok BASE64-ben kódolt tartalma (lásd: CoreDocument)</xs:documentation>
          <xs:documentation xml:lang="en">Document data in BASE64 encoded form (see: CoreDocument)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerEnvelopeData" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Vevői adatok BASE64-ben kódolt tartalma (lásd: CustomerDocument)</xs:documentation>
          <xs:documentation xml:lang="en">Customer data in BASE64 encoded form (see: CustomerDocument)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="envelopeHash" type="common:CryptoType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Boriték állomány (envelopeData és customerEnvelopeData) hash lenyomata</xs:documentation>
          <xs:documentation xml:lang="en">Envelope file (envelopeData and customerEnvelopeData) hash value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="envelopeSignature" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Boriték adatok (envelopeData és customerEnvelopeData) BASE64-ben kódolt aláirása</xs:documentation>
          <xs:documentation xml:lang="en">Envelope signature (envelopeData and customerEnvelopeData) in BASE64 encoded form</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignedReportEnvelopeType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Alap boriték tipus</xs:documentation>
      <xs:documentation xml:lang="en">Signed envelope type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="envelopeVersion" type="common:AtomicStringType15" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="hu">A boríték tartalmának interfész verziója.</xs:documentation>
          <xs:documentation xml:lang="en">Interface version of the envelope's content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="envelopeData" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Riport adatok BASE64-ben kódolt tartalma (lásd: CoreReport)</xs:documentation>
          <xs:documentation xml:lang="en">Report data in BASE64 encoded form (see: CoreReport)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerEnvelopeData" type="xs:base64Binary" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Boriték adatok BASE64-ben kódolt tartalma (lásd: CustomerReport)</xs:documentation>
          <xs:documentation xml:lang="en">Envelope data in BASE64 encoded form (see: CustomerReport)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="envelopeHash" type="common:CryptoType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Boriték állomány (envelopeData és customerEnvelopeData) hash lenyomata</xs:documentation>
          <xs:documentation xml:lang="en">Envelope file (envelopeData and customerEnvelopeData) hash value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="envelopeSignature" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Boriték adatok (envelopeData és customerEnvelopeData) BASE64-ben kódolt aláirása</xs:documentation>
          <xs:documentation xml:lang="en">Envelope signature (envelopeData and customerEnvelopeData) in BASE64 encoded form</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleAddressType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Egyszerű címtípus</xs:documentation>
      <xs:documentation xml:lang="en">Simple address type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="countryCode" type="common:CountryCodeType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az országkód az ISO 3166 alpha-2 szabvány szerint</xs:documentation>
          <xs:documentation xml:lang="en">ISO 3166 alpha-2 country code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="region" type="common:SimpleText50NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Tartomány kódja (amennyiben értelmezhető az adott országban) az ISO 3166-2 alpha 2 szabvány szerint</xs:documentation>
          <xs:documentation xml:lang="en">ISO 3166 alpha-2 province code (if appropriate in a given country)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalCode" type="common:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>IRS</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Irányítószám (amennyiben nem értelmezhető, 0000 értékkel kell kitölteni)</xs:documentation>
          <xs:documentation xml:lang="en">ZIP code (If can not be interpreted, need to be filled "0000")</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="common:SimpleText255NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>TEL</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Település</xs:documentation>
          <xs:documentation xml:lang="en">Settlement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalAddressDetail" type="common:SimpleText255NotBlankType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>KZT,KZJ,HSZ</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">További címadatok (pl. közterület neve és jellege, házszám, emelet, ajtó, helyrajzi szám, stb.)</xs:documentation>
          <xs:documentation xml:lang="en">Further address data (name and type of public place, house number, floor, door, lot number, etc.)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Adószám típus</xs:documentation>
      <xs:documentation xml:lang="en">Tax number type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxpayerId" type="common:TaxpayerIdType">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>TSZ</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Az adóalany adó törzsszáma. Csoportos adóalany esetén csoportazonosító szám</xs:documentation>
          <xs:documentation xml:lang="en">Core tax number of the taxable person. In case of group taxation arrangement the group identification number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vatCode" type="common:VatCodeType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">ÁFA kód az adóalanyiság típusának jelzésére. Egy számjegy</xs:documentation>
          <xs:documentation xml:lang="en">VAT code to indicate taxation type of the taxpayer. One digit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countyCode" type="common:CountyCodeType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <legacyMapping>Új mező</legacyMapping>
          </xs:appinfo>
          <xs:documentation xml:lang="hu">Megyekód, két számjegy</xs:documentation>
          <xs:documentation xml:lang="en">County code, two digits</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxPayerType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Adózó adatai típus</xs:documentation>
      <xs:documentation xml:lang="en">Tax payer data type</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="AddressType">
        <xs:sequence>
          <xs:element name="taxPayerName" type="common:SimpleText100NotBlankType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">Adózó neve</xs:documentation>
              <xs:documentation xml:lang="en">Tax payer name</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="taxPayerShortName" type="common:SimpleText100NotBlankType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="hu">Adózó rövid neve</xs:documentation>
              <xs:documentation xml:lang="en">Tax payer short name</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="taxNumber" type="TaxNumberType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">Adózó adószáma, vagy ÁFA-csoport tagság esetén a tagi adószáma.</xs:documentation>
              <xs:documentation xml:lang="en">Tax payer tax number or member tax number if part of a VAT group.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="groupIdentificationNumber" type="TaxNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="hu">ÁFA-csoport tagság esetén a csoportazonosító szám</xs:documentation>
              <xs:documentation xml:lang="en">Group identification number if part of a VAT group</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShopType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Üzlet adatai típus</xs:documentation>
      <xs:documentation xml:lang="en">Shop data type</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="AddressType">
        <xs:sequence>
          <xs:element name="shopName" type="common:SimpleText100NotBlankType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">Üzlet neve</xs:documentation>
              <xs:documentation xml:lang="en">Shop name</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shopShortName" type="common:SimpleText100NotBlankType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="hu">Üzlet rövid neve</xs:documentation>
              <xs:documentation xml:lang="en">Shop short name</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>