xsd/eDocumentStore/1.0/eDocumentStoreApi.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://schemas.nav.gov.hu/EDOCUMENTSTORE/1.0/api" elementFormDefault="qualified"
           attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://schemas.nav.gov.hu/EDOCUMENTSTORE/1.0/api"
           xmlns:communication="http://schemas.nav.gov.hu/ERECEIPT/1.0/communicationData"
           xmlns:base="http://schemas.nav.gov.hu/ERECEIPT/1.0/base"
           xmlns:common="http://schemas.nav.gov.hu/NTCA/1.0/common"
           xmlns:message="http://schemas.nav.gov.hu/EDOCUMENTSTORE/1.0/message"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.nav.gov.hu/EDOCUMENTSTORE/1.0/message"
             schemaLocation="eDocumentStoreMessage.xsd"/>
  <xs:import namespace="http://schemas.nav.gov.hu/ERECEIPT/1.0/communicationData"
             schemaLocation="../../eReceipt/1.0/communicationData.xsd"/>
  <xs:import namespace="http://schemas.nav.gov.hu/ERECEIPT/1.0/base"
             schemaLocation="../../eReceipt/1.0/eReceiptBase.xsd"/>
  <xs:import namespace="http://schemas.nav.gov.hu/NTCA/1.0/common" schemaLocation="../../eReceipt/1.0/common.xsd"/>
  <xs:annotation>
    <xs:documentation xml:lang="hu">A vevői alkalmazások által hívható szolgáltatások kérés-válasz objektumait leíró XSD</xs:documentation>
    <xs:documentation xml:lang="en">XSD describing the request-response objects of services that can be called by customer applications</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AppRegistrationRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői alkalmazás regisztrációját megvalósító szolgáltatás kérés típusa.</xs:documentation>
      <xs:documentation xml:lang="en">Type of service request for customer application registration.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicHeaderType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános kérés típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="software" type="communication:SoftwareType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazás fejlesztői és verzió adatai</xs:documentation>
              <xs:documentation xml:lang="en">Customer application development and version details</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="userId" type="common:SimpleText50NotBlankType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői backend alkalmazás által nyilvántartott felhasználói azonosító, amelyből a JWT tokent képzi a rendszer.</xs:documentation>
              <xs:documentation xml:lang="en">The user ID registered by the customer backend application, from which the system generates the JWT token.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppRegistrationResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői alkalmazás regisztrációját megvalósító szolgáltatás válasz típusa.</xs:documentation>
      <xs:documentation xml:lang="en">Type of response to the service implementing the registration of the customer application.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános válasz típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="accessToken" type="message:JwtTokenType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazás számára generált egyedi JWT token, amellyel a nyugtatár szolgáltatásokat kell hívni (auth header-ben átadva).</xs:documentation>
              <xs:documentation xml:lang="en">A unique JWT token generated for the customer application, which must be used to call the receipt store services (passed in the auth header)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetDocumentRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum (nyugta, számla, egyszerűsített számla ...) letöltést megvalósító szolgáltatás kérés típusa.</xs:documentation>
      <xs:documentation xml:lang="en">Type of service request to download a document (receipt, invoice, simplified invoice ...).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="message:BasicEDocumentStoreRequestType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános kérés típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="searchKeyTimestamp" type="common:GenericTimestampType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazában generált keresőkulcs előállításának időpontja.</xs:documentation>
              <xs:documentation xml:lang="en">The time of generation of the search key generated in the customer's application.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="searchKey" type="xs:base64Binary">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazában generált keresőkulcs értéke. </xs:documentation>
              <xs:documentation xml:lang="en">The value of the search key generated in the customer's application. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xsd:element name="notificationToken" type="xsd:base64Binary" minOccurs="0">
              <xsd:annotation>
                  <xsd:documentation xml:lang="hu">Feliratkozás esetén a bizonylat lekérdezhetővé válásakor az értesítés szolgáltatónak átadandó értesítési token.</xsd:documentation>
                  <xsd:documentation xml:lang="en">In the case of subscription, the notification token to be forwarded to the notification service provider when the receipt becomes queryable.</xsd:documentation>
              </xsd:annotation>
          </xsd:element>
          <xs:sequence minOccurs="0">
            <xsd:element name="documentNumber" type="base:DocumentNumberType">
              <xsd:annotation>
                <xsd:documentation xml:lang="hu">Dokumentum vagy módosító okirat sorszáma</xsd:documentation>
                <xsd:documentation xml:lang="en">Sequential number of the original document or modification document</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentGrossAmountHUF" type="base:MonetaryType">
              <xsd:annotation>
                <xsd:documentation xml:lang="hu">A bizonylat bruttó végösszege forintban</xsd:documentation>
                <xsd:documentation xml:lang="en">The gross total amount of the receipt is in HUF</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="QRCodeSignature" type="xsd:base64Binary">
              <xsd:annotation>
                <xsd:documentation xml:lang="hu">A QR kód aláírása BASE64 formátumban</xsd:documentation>
                <xsd:documentation xml:lang="en">QR code signature in BASE64 format</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="QRCodeSignCertSerial" type="xsd:base64Binary">
              <xsd:annotation>
                <xsd:documentation xml:lang="hu">A QR kód aláírásához használt tanúsítvány sorozatszáma</xsd:documentation>
                <xsd:documentation xml:lang="en">The serial number of the certificate used to sign the QR code</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xs:element name="issueEndDateTime" type="common:GenericTimestampType">
              <xs:annotation>
                <xs:documentation xml:lang="hu">Időbélyeg, a bizonylat zárásának pontos ideje az AE órája szerint</xs:documentation>
                <xs:documentation xml:lang="en">Timestamp, the exact time of the document's closing according to the AE clock </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>  
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetDocumentResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum (nyugta, számla, egyszerűsített számla ...) letöltést megvalósító szolgáltatás válasz típusa.</xs:documentation>
      <xs:documentation xml:lang="en">Response type of the service implementing the download of the document (receipt, invoice, simplified invoice ...).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános válasz típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:choice>
            <xs:sequence>
                <xsd:element name="subscriptionExpirationTime" type="common:GenericTimestampType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="hu">Feliratkozás esetén megadja, meddig érvényes a feliratkozás. Lejárat után a vevői applikációnak újra kell hívnia a getDocument végpontot a feliratkozás megújításához.</xsd:documentation>
                        <xsd:documentation xml:lang="en">In case of subscription, it returns how long the subscription is valid. After expiration, the client application must call the getDocument endpoint again to renew the subscription.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="taxNumber" type="common:TaxpayerIdType">
                <xs:annotation>
                  <xs:documentation xml:lang="hu">A bizonylatot kiállító adózó adószámának első 8 karaktere, vagy ÁFA-csoport tagság esetén a bizonylatot kiállító adózó tagi adószámának első 8 karaktere.</xs:documentation>
                  <xs:documentation xml:lang="en">The first 8 characters of the tax number of the taxpayer who creates the document, or (if part of a VAT group) the first 8 characters of the member tax number of the taxpayer who creates the document.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="groupIdentificationNumber" type="common:TaxpayerIdType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="hu">ÁFA-csoport tagság esetén a bizonylatot kiállító adózó csoportazonosító számának első 8 karaktere.</xs:documentation>
                  <xs:documentation xml:lang="en">The first 8 characters of the group identification number of the taxpayer who creates the document (if part of a VAT group).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="offlineCreated" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation xml:lang="hu">Amennyiben a dokumentum on-line beküldés valamilyen okból meghiúsult, a kapcsolat helyrállása után kell beküldeni, ebben az esetben a mezőben jelezni kell, hogy a dokumentum off-line került beküldésre.</xs:documentation>
                  <xs:documentation xml:lang="en">If the online submission of the document failed for some reason, it must be submitted after the connection is established, in which case the field must indicate that the document was submitted offline.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="searchKeyTimestamp" type="common:GenericTimestampType">
                <xs:annotation>
                  <xs:documentation xml:lang="hu">A vevői alkalmazában generált keresőkulcs előállításának időpontja.</xs:documentation>
                  <xs:documentation xml:lang="en">The time of generation of the search key generated in the customer's application.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="searchKey" type="xs:base64Binary">
                <xs:annotation>
                  <xs:documentation xml:lang="hu">A vevői alkalmazában generált keresőkulcs értéke. </xs:documentation>
                  <xs:documentation xml:lang="en">The value of the search key generated in the customer's application. </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ntcaVerificationCode" type="common:SHA256Type">
                <xs:annotation>
                  <xs:documentation xml:lang="hu">NAV ellenőrző kód. Leírását lásd a Fejlesztői dokumentáció „NAV ellenőrző kód képzése” fejezetében.</xs:documentation>
                  <xs:documentation xml:lang="en">Ntca verification code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:choice>
                <xs:sequence>
                  <xs:element name="documentClass" type="base:DocumentClassType">
                    <xs:annotation>
                      <xs:documentation xml:lang="hu">A beküldött bizonylat típusa (nyugta, számla, egyszerűsített számla, stb.)</xs:documentation>
                      <xs:documentation xml:lang="en">Type of document submitted (receipt, invoice, simplified invoice, etc.)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="documentEnvelope" type="base:SignedDocumentEnvelopeType">
                    <xs:annotation>
                      <xs:documentation xml:lang="hu">A bizonylat boríték a Fejlesztői dokumentációban meghatározott formátumban.</xs:documentation>
                      <xs:documentation xml:lang="en">Document envelope in the format specified in the Developer documentation.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:element name="reportClass" type="base:ReportClassType">
                    <xs:annotation>
                      <xs:documentation xml:lang="hu">A beküldött bizonylat típusa (pénztárjelentés, pénzmozgás bizonylat, stb.)</xs:documentation>
                      <xs:documentation xml:lang="en">The type of voucher submitted (cash report, cash flow voucher, etc.)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="reportEnvelope" type="base:SignedReportEnvelopeType">
                    <xs:annotation>
                      <xs:documentation xml:lang="hu">A riport adatai a Fejlesztői dokumentációban előírt formátumban.</xs:documentation>
                      <xs:documentation xml:lang="en">A riport adatai a Fejlesztői dokumentációban előírt formátumban.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:choice>
            </xs:sequence>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClientEventRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára eseménybeküldést lehetővé tevő szolgáltatás kérés típusa.</xs:documentation>
      <xs:documentation xml:lang="en">A service request type that allows client applications to submit events.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="message:BasicEDocumentStoreRequestType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános kérés típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="eventTimestamp" type="common:GenericTimestampType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazában történt esemény időpontja.</xs:documentation>
              <xs:documentation xml:lang="en">The date of the event in the customer's application.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="eventCode" type="base:CustomerAppEventCodeType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazában történt esemény kódja.</xs:documentation>
              <xs:documentation xml:lang="en">The event code of the event in the customer's application.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="eventDescription" type="common:SimpleText200NotBlankType" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazában történt esemény leírása.</xs:documentation>
              <xs:documentation xml:lang="en">The description of the event in the customer's application.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:sequence minOccurs="0">
            <xs:element name="searchKeyTimestamp" type="common:GenericTimestampType">
              <xs:annotation>
                <xs:documentation xml:lang="hu">A vevői alkalmazában generált keresőkulcs előállításának időpontja.</xs:documentation>
                <xs:documentation xml:lang="en">The time of generation of the search key generated in the customer's application.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="searchKey" type="xs:base64Binary">
              <xs:annotation>
                <xs:documentation xml:lang="hu">A vevői alkalmazában generált keresőkulcs értéke. </xs:documentation>
                <xs:documentation xml:lang="en">The value of the search key generated in the customer's application. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xsd:element name="documentNumber" type="base:DocumentNumberType">
              <xsd:annotation>
                <xsd:documentation xml:lang="hu">Dokumentum vagy módosító okirat sorszáma</xsd:documentation>
                <xsd:documentation xml:lang="en">Sequential number of the original document or modification document</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xs:element name="issueEndDateTime" type="common:GenericTimestampType">
              <xs:annotation>
                <xs:documentation xml:lang="hu">Időbélyeg, a bizonylat zárásának pontos ideje az AE órája szerint</xs:documentation>
                <xs:documentation xml:lang="en">Timestamp, the exact time of the document's closing according to the AE clock </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClientEventResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára eseménybeküldést lehetővé tevő szolgáltatás válasz típusa.</xs:documentation>
      <xs:documentation xml:lang="en">A service response type that allows client applications to submit events.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános válasz típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TokenRefreshRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára JWT token megújítást lehetővé tevő szolgáltatás kérés típusa.</xs:documentation>
      <xs:documentation xml:lang="en">A service request type that enables JWT token renewal for client applications.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="message:BasicEDocumentStoreRequestType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános kérés típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="refreshToken" type="message:JwtTokenType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazás hozzáférési JWT tokenjének megújításához szükséges JWT token.</xs:documentation>
              <xs:documentation xml:lang="en">JWT token required to renew the customer application's access JWT token.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TokenRefreshResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára JWT token megújítást lehetővé tevő szolgáltatás válasz típusa.</xs:documentation>
      <xs:documentation xml:lang="en">A service response type that enables JWT token renewal for client applications.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="common:BasicResponseType">
        <xs:annotation>
          <xs:documentation xml:lang="hu">Az eReceipt rendszerben alkalmazott általános válasz típus adatai.</xs:documentation>
          <xs:documentation xml:lang="en">General response type data used in the eReceipt system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="accessToken" type="message:JwtTokenType">
            <xs:annotation>
              <xs:documentation xml:lang="hu">A vevői alkalmazás számára generált egyedi JWT token, amellyel a nyugtatár szolgáltatásokat kell hívni (auth header-ben átadva).</xs:documentation>
              <xs:documentation xml:lang="en">A unique JWT token generated for the customer application, which must be used to call the receipt store services (passed in the auth header)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői alkalmazás regisztrációját megvalósító szolgáltatás kérés objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">Request object for customer application registration.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AppRegistrationRequestType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppRegistrationResponse">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői alkalmazás regisztrációját megvalósító szolgáltatás válasz objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">Response object for customer application registration.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AppRegistrationResponseType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentRequest">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum (nyugta, számla, egyszerűsített számla ...) letöltést megvalósító szolgáltatás kérés objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">Object of a service request for downloading a document (receipt, invoice, simplified invoice ...).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GetDocumentRequestType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Dokumentum (nyugta, számla, egyszerűsített számla ...) letöltést megvalósító szolgáltatás válasz objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">Document (receipt, invoice, simplified invoice ...) download service response object.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GetDocumentResponseType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientEventRequest">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára eseménybeküldést lehetővé tevő szolgáltatás kérés objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">A service request object that allows client applications to submit events.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ClientEventRequestType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientEventResponse">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára eseménybeküldést lehetővé tevő szolgáltatás válasz objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">A service response object that allows client applications to submit events.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ClientEventResponseType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TokenRefreshRequest">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára JWT token megújítást lehetővé tevő szolgáltatás kérés objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">A service request object that enables JWT token renewal for client applications.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TokenRefreshRequestType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TokenRefreshResponse">
    <xs:annotation>
      <xs:documentation xml:lang="hu">Vevői applikációk számára JWT token megújítást lehetővé tevő szolgáltatás válasz objektuma.</xs:documentation>
      <xs:documentation xml:lang="en">A service response object that enables JWT token renewal for client applications.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TokenRefreshResponseType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>